src/main/resources/families.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="content">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="families">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="family" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="familyId" />
																<xs:element type="xs:string" name="familyName" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
